*.pyc
*.out
*.bin
images/*
resnet/images/*
*.p
*.npy
latex_plots/*
.ipynb_checkpoints/
images/
logs/
clarifai/clarifai_images/*
mnist_models/
output_data/*
paper_images/
*.png
*.jpg
*.csv
*sh
imagenet_models/
.gitignore
